@import url("courseList.css");
@import url("sectionList.css");

#course-search-section {
    flex: 1 1 0;
}

#course-list-section {
    flex: 1 1 0;
}
#section-list-section {
    flex: 1 1 0;
}

#editor-section {
    flex: 2 1 0;
}