html {
    height: 100%;
}

body {
    flex-flow: column nowrap;
    height: 100%;
}

header {
    flex: 1 1 0;
    flex-flow: column nowrap;
}

#header-title {
    flex: 1 1 0;
    justify-content: center;
}

#header-nav {
    flex: 1 1 0;
    flex-flow: row nowrap;
}

footer {
    flex: 1 1 0;
}

main {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    flex: 14 1 0;
    gap: 1rem;
}
