<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <display-name>Course Schedule Planner</display-name>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
</web-app>